/* TABS */

#tabs {
    padding: 0px;
    border: 0px;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}
.ui-tabs .ui-tabs-nav li:first-child {
    margin-left: 10px;
}

.ui-widget-header {
    border: none;
    border-bottom: 1px solid #ddd;
    background: none;
}
#tabs .ui-tabs-panel {
    border: 1px solid #ddd;
    position: relative;
    z-index: 1;
    top: -1px;
    border-radius: 3px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #ddd;
    background: #eee;
    font-weight: bold;
    color: #999;
}
.ui-state-default a, .ui-widget-content .ui-state-default a, .ui-widget-header .ui-state-default a {
    color: #999;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #ddd;
    background: #fff;
    font-weight: bold;
    color: #000;
}
.ui-state-active a, .ui-widget-content .ui-state-active a, .ui-widget-header .ui-state-active a {
    color: #000;
}
